*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.tool-bar{
    position: absolute;
    display: flex;
    width: 50vw;
    color: snow;
}
.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: 1.2rem;
}
.navigation-bar>p{
    cursor: pointer;
}

.main{
    background-image: url(img/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-radius: 0.6rem;
    color: snow;
}
.title{
    margin-top: 30vh;
}
.title-name{
    font-size: 5rem;
    text-align: center;
}
.title-intro{
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}
.tip1{
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.6rem;
    background-color: peru;
    color: snow;
}
.tip1-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.tip1-content{
    font-size: 1rem;
    width: 70vw;
}
.tip2{
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.6rem;
    background-color: tomato;
    color: snow;
}
.tip2-title{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.tip2-parts{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tip2-part{
    width: 30%;
}
.tip3{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    border-radius:0.6rem;
    color: slategray;
}
.tip3-parts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tip3-part{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.tip3-part>img{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
}
.tip3-part-content{
    width: 20rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.tip3-title{
    font-size: 3rem;
    text-align: center
}
.tip4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 0.6rem;
}
.tip4-title{
    font-size: 3rem;
    text-align: center;
}
.tip4-imgs{
    display: flex;
    flex-wrap: wrap;
    max-width: 34rem;
}
.tip4-imgs>img{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: black;
    border-radius: 0.4rem;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: snow;
}


.enlarge{
    cursor:pointer;
    transition: all 0.3s;
}
.enlarge:hover{
    transform:scale(1.1);
}